{% extends 'base.html.twig' %}

{% block title %}{{'My Profile' | trans}}{% endblock %}

{% block body %}


            <h1>{{'My Profile' | trans }}</h1>
            <ul>
                <li>{{'First Name' | trans}}: Joseph</li>
                <li>{{'Last Name' | trans}}: Lindzius</li>
                <li>{{'Nationality' | trans}}: American</li>
                <li>{{'Age' | trans}}: 34</li>
            </ul>


{% endblock %}
